
<% content_for :title do %>Display All Users<% end %>

<div class="hero-unit">
	<h2>Welcome!</h2>
</div>
<div class="container">
	<div class="well">
		<% if @new_user %>
		<h4><%= flash[:notice]%></h4>
		<% end %>
		<table class="table table-striped table-bordered">
			<thead><th>User Name</th></thead>
			<% @users.each do |user| %>
			<tr>
				<td><%= user.first_name %> <%= user.last_name %></td><% end %>
			</tr>
		</table>
	</div>
</div>
